@import 'tailwindcss';

@theme animate {
  --animate-works-label-slide-in: works-label-slide-in 300ms forwards;
  @keyframes works-label-slide-in {
    from {
      opacity: 0;
      bottom: -50px;
    }
    to {
      opacity: 1;
      bottom: 0;
    }
  }
}
