---
import Layout from '@/layouts/PageLayout.astro';
import ContactPage from '@/components/common/ContactPage.tsx';
import { getEntry, render } from 'astro:content';

import { getI18n } from '@/i18n/index';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { siteConfig } from '@/site.config';

const { currentLocale } = Astro;
const i18n = await getI18n(currentLocale || 'en', 'design');

const mates = {
  title: i18n('menus.contact'),
  description: i18n('mate.description'),
  author: siteConfig.author,
  email: siteConfig.email,
  local: currentLocale,
  ogImage: getRelativeLocaleUrl(currentLocale || 'en', '/og-image/site-image.png'),
};

const contact = await getEntry('pages', 'contact');

if (!contact) {
  throw new Error(`Contact page not found`);
}


const { Content } = await render(contact);
---

<Layout {...mates}>
  <div class="prose prose-tao dark:prose-invert mx-auto w-[90%] md:w-[80%] xl:w-[70%] pt-20">
    <Content />

    <ContactPage client:only="react" />
  </div>
</Layout>
