---
import Layout from '@/layouts/PageLayout.astro';
import { render } from 'astro:content';
import CustomFloatBtns from '@/components/common/CustomFloatBtns.astro';
import MemberGrid from '@/components/common/MemberGrid.astro';
import getWorks from '@/lib/getWorks.ts';
import { getI18n } from '@/i18n/index';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { siteConfig } from '@/site.config';

interface Props {
  work: any;
}

const { work }: Props = Astro.props;

const { currentLocale } = Astro;
const i18n = await getI18n(currentLocale || 'en', 'design');

const mates = {
  title: i18n('page_works.title', { name: work.id }),
  description: i18n('mate.description'),
  author: siteConfig.author,
  email: siteConfig.email,
  local: currentLocale,
  ogImage: getRelativeLocaleUrl(currentLocale || 'en', '/og-image/site-image.png'),
};

const works = await getWorks();

const { Content } = await render(work);

const worksArray = Array.isArray(works) ? works : [];
const currentIdx = worksArray.findIndex((it: any) => it.id === work.id);
let preIdx = currentIdx - 1,
  nextIdx = currentIdx + 1;
if (preIdx < 0) preIdx = worksArray.length - 1;
if (nextIdx >= worksArray.length) nextIdx = 0;
---

<Layout {...mates}>
  <div class="w-full px-4">
    <Content />
  </div>
  <div class="divider"></div>
  <MemberGrid work={work} />
  <CustomFloatBtns
    btns={[
      {
        type: 'link',
        href: `/${(worksArray[preIdx] as any).id}`,
        icon: 'icon-[ooui--arrow-previous-ltr]',
        label: i18n('page_detail.prev'),
      },
      {
        type: 'link',
        href: `/${(worksArray[nextIdx] as any).id}`,
        icon: 'icon-[ooui--arrow-previous-rtl]',
        label: i18n('page_detail.next'),
      },
      {
        type: 'top',
        label: i18n('btns.backToTop'),
      },
    ]}
  />
</Layout>
