---
import Layout from '@/layouts/PageLayout.astro';
import { render } from 'astro:content';
import CustomFloatBtns from '@/components/common/CustomFloatBtns.astro';
import MemberGrid from '@/components/index/MemberGrid.astro';
import getWorks from '@/lib/getWorks.ts';
import { siteConfig } from '@/site.config';

interface Props {
  work: any;
}

const { work }: Props = Astro.props;

const mates = {
  title: `Work: ${work.id}`,
  description: siteConfig.description,
  author: siteConfig.author,
  email: siteConfig.email,
  ogImage: '/og-image/site-image.png',
};

const works = await getWorks();
const { Content } = await render(work);

const worksArray = Array.isArray(works) ? works : [];
const currentIdx = worksArray.findIndex((it: any) => it.id === work.id);

let preIdx = currentIdx - 1;
let nextIdx = currentIdx + 1;

if (preIdx < 0) preIdx = worksArray.length - 1;
if (nextIdx >= worksArray.length) nextIdx = 0;
---

<Layout {...mates}>
  <div class="w-full px-4">
    <Content />
  </div>

  <div class="divider"></div>

  <MemberGrid work={work} />
</Layout>
