@import 'tailwindcss';
@theme animate {
  --animate-slide-in: slide-in 500ms forwards;
  @keyframes slide-in {
    from {
      opacity: 0;
      bottom: -100%;
    }
    to {
      opacity: 1;
      bottom: 0;
    }
  }
}
