---
import clsx from 'clsx'
const {
  class: className,
  links,
  shows = {},
  siteUrl = 'https://mkbrrd.net',
  siteName= 'MKBRRD',
} = Astro.props;
const year = new Date().getFullYear();
---
<footer class={clsx("bg-unset text-center py-12", className)}>
  <div class="max-w-4xl mx-auto px-4">
    <p class="mb-2">
      <a class="hover:underline" href="https://mkbrrd.net/" target="_blank" rel="noopener noreferrer">{shows['icp']}</a>
      <span>&copy; {year}
        <a class="hover:underline" href={siteUrl}>{siteName}.</a>
        {shows['cr']}
      </span>
        <li style="display: inline;">
          <a 
            href="https://www.instagram.com/mkbrrd/"
            class="hover:text-accent hover:underline
            style="color: #000; text-decoration: none; "
            >instagram</a>
          <a
            style="color: #777; text-decoration: none; "
            >-≡-</a>
          <a 
            href="https://www.facebook.com/mkbrrd/"
            class="hover:text-accent hover:underline
            style="color: #712; text-decoration: none; "
            >facebook</a>
          <a
            style="color: #777; text-decoration: none; "
            >-≡-</a>
          <a
            href="https://x.com/mkbrrd"
            class="hover:text-accent hover:underline
            style="color: #777; text-decoration: none; "
            >𝕏 @mkbrrd
          </a>
        </li>
        <br>
    </p>
  </div>
</footer>