
<div id="copy">
    <table
        style="max-width: 564px; font-family: 'Work Sans', Arial, sans-serif; font-weight: 400; color: #000;padding:20px;"
        cellpadding="0"
        cellspacing="0"
        border="0"
    >
        <tr style="height:16px;"></tr>
        <tr>
            <td style="text-align: center; font-size: 14px;">
                <ul style="list-style: none; padding: 0;">
                    <li style="display: inline;">
                        <a
                            href="https://www.stromkontroll.no"
                            style="color: #000; text-decoration: none;"
                            >stromkontroll.no</a
                        >
                    </li>
                    <li style="display: inline;">|</li>

                    <li style="display: inline;">
                        <a
                            href="https://support.futurehome.no/hc/en-no"
                            style="color: #000; text-decoration: none; "
                            >support</a
                        >
                    </li>
                    <li style="display: inline;">|</li>

                    <li style="display: inline;">
                        <a
                            href="https://forum.futurehome.io/"
                            style="color: #000; text-decoration: none;">forum</a
                        >
                    </li>
                </ul>
            </td>
        </tr>
    
        <tr style="height:8px;"></tr>
        <tr>
            <td style="border-top: 2px solid black;"></td>
        </tr>
        <tr style="height:13px;"></tr>
        <tr>
            <td style="text-align: left; font-size: 8px;">
                <span>© Copyright 2026 MKBRRD</span>
                <span style="float: right;"
                    >|</span
                >
            </td>
        </tr>
    </table>
</div>