---
import HdudHeader from '@/components/Header.astro';
import siteConfig from '@/site.config';
import { getMenus } from '@/config/menus';

function getTargetUrl() {
  return '/';
}
---

<HdudHeader
  menus={getMenus()}
  class="max-w-none"
  themes={siteConfig.themes}
>
  <div class="flex items-center gap-2">
    <a href={getTargetUrl()} class="inline-block max-md:hidden xl:hidden">
      <img
        src="/images/hdud-logo.svg"
        alt="MKBRRD Logo"
        class="size-8 md:size-10 xl:size-12 h-auto"
      />
    </a>
    <span class="max-md:hidden text-md max-md:text-xl xl:text-xl">
      MKBRRD Keyboards
    </span>
  </div>

  <div class="flex items-center gap-2" slot="center">
    <a href={getTargetUrl()} class="md:hidden xl:block">
      <img
        src="/images/hdud-logo.svg"
        alt="MKBRRD Logo"
        class="size-8 md:size-10 xl:size-12 h-auto"
      />
    </a>
    <span class="md:hidden text-md xl:text-xl">
      MKBRRD Keyboards
    </span>
  </div>
</HdudHeader>
